<h1>Listing duties</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @duties.each do |duty| %>
  <tr>
    <td><%= duty.description %></td>
    <td><%= link_to 'Show', duty %></td>
    <td><%= link_to 'Edit', edit_duty_path(duty) %></td>
    <td><%= link_to 'Destroy', duty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Duty', new_duty_path %>
