<%= form_for(@staffer) do |f| %>
  <% if @staffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staffer.errors.count, "error") %> prohibited this staffer from being saved:</h2>

      <ul>
      <% @staffer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :mi %><br />
    <%= f.text_field :mi %>
  </div>
  <div class="field">
    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </div>

  <%= f.fields_for :contact_infos do |builder| %>
    <%= render "contact_info_fields", :f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
